<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Localhost - Orijinal bilgilerinizi koruyun -->
		<add name="AracDB_Local"
			 connectionString="Server=localhost;Database=car_rental_sales;Uid=root;Pwd=2307;Port=3306;SslMode=None;CharSet=utf8mb4;AllowPublicKeyRetrieval=true;ConnectionTimeout=60;DefaultCommandTimeout=60;Pooling=true;"
			 providerName="MySql.Data.MySqlClient" />

		<!-- Remote - Orijinal bilgilerinizi koruyun -->
		<add name="AracDB_Remote"
			 connectionString="Server=92.205.171.9;Database=car_rental_sales;Uid=admin;Pwd=Ke3@1.3ySQ1;Port=3306;SslMode=None;CharSet=utf8mb4;AllowPublicKeyRetrieval=true;ConnectionTimeout=60;DefaultCommandTimeout=60;Pooling=true;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Encrypted connection strings - Şifreleme aracıyla doldurulacak -->
		<add key="Encrypted_AracDB_Local" value="w+XdyK05pJpttlCV0Ysz0naKyTbkA+Y3C0A49TT572VfVOlshVrkvUXdstRlIwHTSxpY0lYu2yi7fGgN7o2ncN/bdNP5lMgkh6x9/747/yNABrdrCLC+3NhWMNh3GnfxhsC890MT7ZYcR3p4F0sibUjA7zb5/wM+7yf7ZL+40VQCj/Gkfd1hnUUtKqULTvOdl0AQBAENbj84suw2ESAWtitmNsYzRJztPAWiWyaU3dp7s0yh4Kfdag7UCkmekfor" />
		<add key="Encrypted_AracDB_Remote" value="06FNifIjM2eMPKmpvUEivgyUXnza//3LKPHQ9XQfKIuHJGxJTQsmIKZ6rxfJ1qvojB1IDg9SfGM+Ibcqfsa2kfe3dumkqV87NaOgZQyaqvfY/WJjts1Q83hzAuahSc4qbc0x4RGB2vOlp+LAJYrgPLM/7uwtesiANV9fOQ31rofGzGQzv+XQNY7Bh6Eh8zKacAFFSkmVBNgR2SaiosDVN5cAU5pBq2UL5EZraybcPi4+c7W/jQ1gtf848QZVQXtR9heTD3xEXyrqAVhQEblydA==" />

		<!-- Application settings -->
		<add key="UseRemoteDatabase" value="false" />
		<add key="EnableLogging" value="true" />
	</appSettings>
</configuration>
